<header class="content-header">
	<h1>Divisions</h1>
</header>

<div class="content-controls" *ngIf="viewMode === ViewMode.LIST">
	<button class="add" (click)="addDivision()" *ngIf="!selectedDivision">New Division</button>
</div>

<div class="content-tabs">
	<ul>
		<li class="tab regions">
			<a class="label" routerLink="/regions">Regions</a>
		</li>
		<li class="tab divisions active">
			<a class="label" routerLink="/divisions">Divisions</a>
		</li>
		<li class="tab locations">
			<a class="label" routerLink="/locations">Locations</a>
		</li>
		<li class="tab teams">
			<a class="label" routerLink="/teams">Teams</a>
		</li>
		<li class="tab assignments">
			<a class="label" routerLink="/assignments">Members</a>
		</li>
	</ul>
</div>



<div class="content">

	<ng-template [ngIf]="viewMode === ViewMode.PRELOADING">
		<div class="preloader">
			<div class="spinner"></div>
			<div class="message">
				<div>
					<span>Loading</span>
					<span>Please Wait</span>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template [ngIf]="viewMode == ViewMode.ADD || viewMode == ViewMode.EDIT">
		<divisions-form [division]="selectedDivision"
						[formType]="(viewMode == ViewMode.ADD) ? 'ADD' : 'EDIT'"
						(newDivision)="newDivision()"
						(cancelDivision)="showList()"
						(editDivision)="editDivision($event)">
		</divisions-form>
	</ng-template>

	<ng-template [ngIf]="viewMode === ViewMode.LIST">

		<div class="table-container">
			<div class="controls">
				<input type="text" class="search" [(ngModel)]="search" placeholder="Search" />
			</div>
			<table>
				<thead>
					<tr>
						<th>NAME</th>
						<th>PRODUCTS</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let division of divisions | search: 'name': search" (click)="select(division)">
						<td><strong>{{division.name}}</strong></td>
						<td>{{division.products}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</ng-template>

</div>
