<div class="content-controls">
	<button *ngIf="isAdd" type="submit" (click)="submitFormType('POST')" [disabled]="!divisionForm.valid">
		Save
	</button>
	<button *ngIf="!isAdd" type="submit" (click)="submitFormType('PUT')" [disabled]="!divisionForm.valid">
		Update
	</button>
	<button *ngIf="!isAdd" type="submit" (click)="submitFormType('DELETE')" [disabled]="!divisionForm.valid">
		Delete
	</button>
	<button type="button" (click)="cancel()">
		Cancel
	</button>
</div>

<form [formGroup]="divisionForm" (ngSubmit)="onSubmit()">

	<fieldset>
		<legend>Division Details</legend>

		<div class="field">
			<div class="validation" *ngIf="isError"><b>Error: </b> {{ErrorMessage}}</div>
		</div>

		<div class="group">
			<div class="field">
				<label>Name</label>
				<input type="text" formControlName="name">
				<div class="validation" *ngIf="!divisionForm.controls['name'].valid && divisionForm.controls['name'].touched">This field is required.</div>
			</div>
			<div class="field">
				<label>Products</label>
				<select #product>
					<option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
				</select>
				<button *ngIf="products" (click)="addProduct(product.value)">
					Add selected product
				</button>
			</div>
			<div class="field">
				<label>Added products</label>
				<div formArrayName="products">
					<div *ngFor="let m of selectedProducts; let i=index">
						<div class="mdc-layout-grid__inner" [formGroupName]="i">
							<div>
								<button (click)="removeProduct(i)">X</button>
								<division-product [group]="divisionForm.controls.products.controls[i]"></division-product>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</form>
